<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Index Page</title>
    <link rel="stylesheet" href="css/index.css"/>
  </head>
  <body>
    <div id="centerDiv">
      <h1>Focus Kingdom</h1>
      <img id="logo" src="img/logo.png"/>
      <div id="footer">
        <h3>Coming Soon</h3>
        <img src="img/StoreLogoHorizontal.png" />
      </div>
    </div>
  </body>
</html>